form{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
 
}

.wrapp__form{
    margin: 0 auto;
    width: 300px;
    -webkit-box-shadow: 6px 6px 50px 1px rgba(0,0,0,0.12);
    box-shadow: 6px 6px 50px 1px rgba(0,0,0,0.12);
    padding: 30px 40px;
    border-radius: 10px;
}

label{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

input{
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(199, 199, 199);
}

input:focus{
    outline: none;
}

.go__reg{
    margin: auto;
    width: fit-content;
    margin-top: 10px;
    color:royalblue
}

a{
    color:royalblue

}

button{
    width: 100%;
    background-color: cornflowerblue;
    border: none;
    outline: none;
    color: white;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    max-width: 320px;
}

.is-danger{
    border: 1px solid rgb(253, 13, 73);
}

span{
    color:rgb(253, 13, 73) ;
}

.auth-container{
    padding: 30px;
}